.box{
    border:2px solid black;
    width:1000px;
    margin:45px 120px 20px 120px;
    padding:20px 20px 40px 20px;
}
.container{
    border:2px solid black;
    padding:10px 10px 10px 10px;
}
.bow-part1{
    align-items: center;
}
.box-part2{
    font-size:large;
}
.box-part3{
    margin-right:20px;
    
}
box-part4{
    padding:20px 10px 5px 10px;
    text-align:center;
    margin-right:10px;
   

}


